<div>
    <button onclick="getSightings()">Get Sightings</button>
    <button onclick="getSighting(5)">Get Sighting Number 5</button>
    <button onclick="duplicate(5)">Duplicate 5</button>
    <button onclick="update(5)">Update Number 5</button>
    <button onclick="del(5)">Delete 5</button>
</div>
<div class="results">

</div>

@section scripts{
    <script src="@Url.Content("~/Scripts/test.js")"></script>
}