<?xml version="1.0" encoding="utf-8"?>
<widget xmlns:cdv="http://cordova.apache.org/ns/1.0" xmlns:vs="http://schemas.microsoft.com/appx/2014/htmlapps" id="com.schluect.DontBlink.App" version="1.0.0.0" xmlns="http://www.w3.org/ns/widgets">
  <name>Dont Blink</name>
  <description>
    A blank project that uses Apache Cordova to help you build an app that targets multiple mobile platforms: Android, iOS, Windows, and Windows Phone.
  </description>
  <author href="http://schluect.com" email="trsch2012@live.com">
    Todd Schluechtermann
  </author>
  <content src="index.html" />
  <access origin="http://*.schluect.com" />
  <access origin="http://*.azurewebsites.net" />
  <preference name="SplashScreen" value="screen" />
  <preference name="Orientation" value="portrait" />
  <vs:features>
    <vs:feature>org.apache.cordova.camera@0.3.0</vs:feature>
    <vs:feature>org.apache.cordova.geolocation@0.3.8</vs:feature>
    <vs:feature>org.apache.cordova.dialogs@0.2.8</vs:feature>
    <vs:feature>org.apache.cordova.network-information@0.2.10</vs:feature>
  </vs:features>
  <vs:platformSpecificValues>
    <vs:platformSpecificWidget platformName="windows8">
      <vs:name>Dont Blink</vs:name>
    </vs:platformSpecificWidget>
  </vs:platformSpecificValues>
</widget>