<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AngularJS.Core" version="1.2.22" targetFramework="win" />
  <package id="AngularJS.Route" version="1.2.22" targetFramework="win" />
  <package id="bootstrap" version="3.0.1" targetFramework="win" />
  <package id="jQuery" version="1.9.0" targetFramework="win" />
  <package id="Twitter.Bootstrap" version="3.0.1.1" targetFramework="win" />
</packages>